@inherits LayoutComponentBase
@using OptiPolicy.Ui.Pages.Shared.Login;

<CascadingAuthenticationState>
    <AuthorizeView Policy="LoggedIn">
        <NotAuthorized Context="Auth">
            <Login />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<CascadingAuthenticationState>
    <AuthorizeView Policy="LoggedIn">
        <Authorized Context="Auth">
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main>
                    <div class="top-row px-4">
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>